# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
.venv/
venv/

# Build / logs
build/
dist/
*.log

# Data
/ptcld

# Environment files
.env
.env.*

# Misc
*.tmpptcld/pcb.xyz
ptcld/pcb_crop2.xyz
ptcld/pcb_crop1_1.xyz
